@font-face {
  font-family: 'Nunito';
  src: url(../fonts/Nunito-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url(../fonts/Nunito-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url(../fonts/Nunito-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: #222531;
  color: white;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-app-region: no-drag;
}

button {
  -webkit-app-region: no-drag;
}

.container {
  max-width: 685px;
  margin: 0 auto;
  padding: 0 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  width: 270px;
}

.header {
  margin: 30px 0;
}

.time {
  font-size: 36px;
  text-align: center;
}

.today-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.today-icons:not(:last-child) {
  margin-right: 5px;
}

.today-icon__icon {
  width: 24px;
  height: 24px;
}

.watch {
  margin: 30px auto;
  color: #57648F;
  font-size: 12px;
  font-weight: 900;
  width: 270px;
  height: 270px;
  padding-top: 27px;
  position: relative;
}

.watch__numbers {
  width: 257px;
  height: 257px;
  margin: auto;
  position: relative;
}

.watch__hour {
  width: 17px;
  height: -webkit-calc(50% - 20px);
  height: calc(50% - 20px);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  position: absolute;
}

.watch__hour_1 {
  -webkit-transform: translate(120px, 0) rotate(195deg);
      -ms-transform: translate(120px, 0) rotate(195deg);
          transform: translate(120px, 0) rotate(195deg);
}

.watch__hour_1 .watch__number {
  -webkit-transform: rotate(-195deg);
      -ms-transform: rotate(-195deg);
          transform: rotate(-195deg);
}

.watch__hour_2 {
  -webkit-transform: translate(120px, 0) rotate(210deg);
      -ms-transform: translate(120px, 0) rotate(210deg);
          transform: translate(120px, 0) rotate(210deg);
}

.watch__hour_2 .watch__number {
  -webkit-transform: rotate(-210deg);
      -ms-transform: rotate(-210deg);
          transform: rotate(-210deg);
}

.watch__hour_3 {
  -webkit-transform: translate(120px, 0) rotate(225deg);
      -ms-transform: translate(120px, 0) rotate(225deg);
          transform: translate(120px, 0) rotate(225deg);
}

.watch__hour_3 .watch__number {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.watch__hour_4 {
  -webkit-transform: translate(120px, 0) rotate(240deg);
      -ms-transform: translate(120px, 0) rotate(240deg);
          transform: translate(120px, 0) rotate(240deg);
}

.watch__hour_4 .watch__number {
  -webkit-transform: rotate(-240deg);
      -ms-transform: rotate(-240deg);
          transform: rotate(-240deg);
}

.watch__hour_5 {
  -webkit-transform: translate(120px, 0) rotate(255deg);
      -ms-transform: translate(120px, 0) rotate(255deg);
          transform: translate(120px, 0) rotate(255deg);
}

.watch__hour_5 .watch__number {
  -webkit-transform: rotate(-255deg);
      -ms-transform: rotate(-255deg);
          transform: rotate(-255deg);
}

.watch__hour_6 {
  -webkit-transform: translate(120px, 0) rotate(270deg);
      -ms-transform: translate(120px, 0) rotate(270deg);
          transform: translate(120px, 0) rotate(270deg);
}

.watch__hour_6 .watch__number {
  -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.watch__hour_7 {
  -webkit-transform: translate(120px, 0) rotate(285deg);
      -ms-transform: translate(120px, 0) rotate(285deg);
          transform: translate(120px, 0) rotate(285deg);
}

.watch__hour_7 .watch__number {
  -webkit-transform: rotate(-285deg);
      -ms-transform: rotate(-285deg);
          transform: rotate(-285deg);
}

.watch__hour_8 {
  -webkit-transform: translate(120px, 0) rotate(300deg);
      -ms-transform: translate(120px, 0) rotate(300deg);
          transform: translate(120px, 0) rotate(300deg);
}

.watch__hour_8 .watch__number {
  -webkit-transform: rotate(-300deg);
      -ms-transform: rotate(-300deg);
          transform: rotate(-300deg);
}

.watch__hour_9 {
  -webkit-transform: translate(120px, 0) rotate(315deg);
      -ms-transform: translate(120px, 0) rotate(315deg);
          transform: translate(120px, 0) rotate(315deg);
}

.watch__hour_9 .watch__number {
  -webkit-transform: rotate(-315deg);
      -ms-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

.watch__hour_10 {
  -webkit-transform: translate(120px, 0) rotate(330deg);
      -ms-transform: translate(120px, 0) rotate(330deg);
          transform: translate(120px, 0) rotate(330deg);
}

.watch__hour_10 .watch__number {
  -webkit-transform: rotate(-330deg);
      -ms-transform: rotate(-330deg);
          transform: rotate(-330deg);
}

.watch__hour_11 {
  -webkit-transform: translate(120px, 0) rotate(345deg);
      -ms-transform: translate(120px, 0) rotate(345deg);
          transform: translate(120px, 0) rotate(345deg);
}

.watch__hour_11 .watch__number {
  -webkit-transform: rotate(-345deg);
      -ms-transform: rotate(-345deg);
          transform: rotate(-345deg);
}

.watch__hour_12 {
  -webkit-transform: translate(120px, 0);
      -ms-transform: translate(120px, 0);
          transform: translate(120px, 0);
}

.watch__hour_13 {
  -webkit-transform: translate(120px, 0) rotate(15deg);
      -ms-transform: translate(120px, 0) rotate(15deg);
          transform: translate(120px, 0) rotate(15deg);
}

.watch__hour_13 .watch__number {
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.watch__hour_14 {
  -webkit-transform: translate(120px, 0) rotate(30deg);
      -ms-transform: translate(120px, 0) rotate(30deg);
          transform: translate(120px, 0) rotate(30deg);
}

.watch__hour_14 .watch__number {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.watch__hour_15 {
  -webkit-transform: translate(120px, 0) rotate(45deg);
      -ms-transform: translate(120px, 0) rotate(45deg);
          transform: translate(120px, 0) rotate(45deg);
}

.watch__hour_15 .watch__number {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.watch__hour_16 {
  -webkit-transform: translate(120px, 0) rotate(60deg);
      -ms-transform: translate(120px, 0) rotate(60deg);
          transform: translate(120px, 0) rotate(60deg);
}

.watch__hour_16 .watch__number {
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.watch__hour_17 {
  -webkit-transform: translate(120px, 0) rotate(75deg);
      -ms-transform: translate(120px, 0) rotate(75deg);
          transform: translate(120px, 0) rotate(75deg);
}

.watch__hour_17 .watch__number {
  -webkit-transform: rotate(-75deg);
      -ms-transform: rotate(-75deg);
          transform: rotate(-75deg);
}

.watch__hour_18 {
  -webkit-transform: translate(120px, 0) rotate(90deg);
      -ms-transform: translate(120px, 0) rotate(90deg);
          transform: translate(120px, 0) rotate(90deg);
}

.watch__hour_18 .watch__number {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.watch__hour_19 {
  -webkit-transform: translate(120px, 0) rotate(105deg);
      -ms-transform: translate(120px, 0) rotate(105deg);
          transform: translate(120px, 0) rotate(105deg);
}

.watch__hour_19 .watch__number {
  -webkit-transform: rotate(-105deg);
      -ms-transform: rotate(-105deg);
          transform: rotate(-105deg);
}

.watch__hour_20 {
  -webkit-transform: translate(120px, 0) rotate(120deg);
      -ms-transform: translate(120px, 0) rotate(120deg);
          transform: translate(120px, 0) rotate(120deg);
}

.watch__hour_20 .watch__number {
  -webkit-transform: rotate(-120deg);
      -ms-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.watch__hour_21 {
  -webkit-transform: translate(120px, 0) rotate(135deg);
      -ms-transform: translate(120px, 0) rotate(135deg);
          transform: translate(120px, 0) rotate(135deg);
}

.watch__hour_21 .watch__number {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.watch__hour_22 {
  -webkit-transform: translate(120px, 0) rotate(150deg);
      -ms-transform: translate(120px, 0) rotate(150deg);
          transform: translate(120px, 0) rotate(150deg);
}

.watch__hour_22 .watch__number {
  -webkit-transform: rotate(-150deg);
      -ms-transform: rotate(-150deg);
          transform: rotate(-150deg);
}

.watch__hour_23 {
  -webkit-transform: translate(120px, 0) rotate(165deg);
      -ms-transform: translate(120px, 0) rotate(165deg);
          transform: translate(120px, 0) rotate(165deg);
}

.watch__hour_23 .watch__number {
  -webkit-transform: rotate(-165deg);
      -ms-transform: rotate(-165deg);
          transform: rotate(-165deg);
}

.watch__hour_24 {
  -webkit-transform: translate(120px, 0) rotate(180deg);
      -ms-transform: translate(120px, 0) rotate(180deg);
          transform: translate(120px, 0) rotate(180deg);
}

.watch__hour_24 .watch__number {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.calendar {
  width: 240px;
  height: 240px;
  background-color: wheat;
  margin: 30px auto;
}

.tasks {
  margin-top: 25px;
}

.tasks__announcement {
  color: #57648F;
}

.activity {
  width: 110px;
}

.bubble {
  background-color: pink;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 auto;
}
