@font-face {
	font-family: 'Nunito';
	src: url(../fonts/Nunito-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Nunito';
	src: url(../fonts/Nunito-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Nunito';
	src: url(../fonts/Nunito-Black.ttf);
	font-weight: 900;
	font-style: normal;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	background-color: #222531;
	color: white;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	-webkit-app-region: no-drag;
}
button {
	-webkit-app-region: no-drag;
}

:root{
}

.wrapper {
}
.container {
	max-width: 685px;
	margin: 0 auto;
	padding: 0 12px;
	display: flex;
	justify-content: space-between;
}
.main {
	width: 270px;
}
.header {
	margin: 30px 0;
	text-align: center;

}
.time {
	font-size: 36px;
}
.date{
	font-size: 18px;
	margin-bottom: 5px;
}
.current-day{
	color: rgb(95, 204, 95);
	text-decoration: underline;
	font-weight: 900;
}
.menu {
}

.today-icons {
	display: flex;	
	justify-content: space-around;
	&:not(:last-child){
		margin-right: 5px;
	}
}
.today-icon {

	&__icon {
		width: 24px;
		height: 24px;
	}

	&__number {
	}
}


.watch {
	margin: 30px auto;
	color: #57648F;
	font-size: 12px;
	font-weight: 900;
	width: 270px;
	height: 270px;
	padding-top: 27px;
	position: relative;

		&__numbers {
			width: 257px;
			height: 257px;
			margin:  auto;
			position: relative;
		}

		&__hour{
			width: 17px;
			height: calc(50% - 20px);
			transform-origin:  bottom;
			position: absolute;

			&_1{
				transform: translate(120px, 0) rotate(195deg);
				& .watch__number{
					transform: rotate(-195deg);
				}
			}
			&_2{
				transform: translate(120px, 0) rotate(210deg);
				& .watch__number{
					transform: rotate(-210deg);
				}
			}
			&_3{
				transform: translate(120px, 0) rotate(225deg);
				& .watch__number{
					transform: rotate(-225deg);
				}
			}
			&_4{
				transform: translate(120px, 0) rotate(240deg);
				& .watch__number{
					transform: rotate(-240deg);
				}
			}
			&_5{
				transform: translate(120px, 0) rotate(255deg);
				& .watch__number{
					transform: rotate(-255deg);
				}
			}
			&_6{
				transform: translate(120px, 0) rotate(270deg);
				& .watch__number{
					transform: rotate(-270deg);
				}
			}
			&_7{
				transform: translate(120px, 0) rotate(285deg);
				& .watch__number{
					transform: rotate(-285deg);
				}
			}
			&_8{
				transform: translate(120px, 0) rotate(300deg);
				& .watch__number{
					transform: rotate(-300deg);
				}
			}
			&_9{
				transform: translate(120px, 0) rotate(315deg);
				& .watch__number{
					transform: rotate(-315deg);
				}
			}
			&_10{
				transform: translate(120px, 0) rotate(330deg);
				& .watch__number{
					transform: rotate(-330deg);
				}
			}
			&_11{
				transform: translate(120px, 0) rotate(345deg);
				& .watch__number{
					transform: rotate(-345deg);
				}
			}
			&_12{
				transform: translate(120px, 0);
			}

			&_13{
				transform: translate(120px, 0) rotate(15deg);
				& .watch__number{
					transform: rotate(-15deg);
				}
			}
			&_14{
				transform: translate(120px, 0) rotate(30deg);
				& .watch__number{
					transform: rotate(-30deg);
				}
			}
			&_15{
				transform: translate(120px, 0) rotate(45deg);
				& .watch__number{
					transform: rotate(-45deg);
				}
			}
			&_16{
				transform: translate(120px, 0) rotate(60deg);
				& .watch__number{
					transform: rotate(-60deg);
				}
			}
			&_17{
				transform: translate(120px, 0) rotate(75deg);
				& .watch__number{
					transform: rotate(-75deg);
				}
			}
			&_18{
				transform: translate(120px, 0) rotate(90deg);
				& .watch__number{
					transform: rotate(-90deg);
				}
			}
			&_19{
				transform: translate(120px, 0) rotate(105deg);
				& .watch__number{
					transform: rotate(-105deg);
				}
			}
			&_20{
				transform: translate(120px, 0) rotate(120deg);
				& .watch__number{
					transform: rotate(-120deg);
				}
			}
			&_21{
				transform: translate(120px, 0) rotate(135deg);
				& .watch__number{
					transform: rotate(-135deg);
				}
			}
			&_22{
				transform: translate(120px, 0) rotate(150deg);
				& .watch__number{
					transform: rotate(-150deg);
				}
			}
			&_23{
				transform: translate(120px, 0) rotate(165deg);
				& .watch__number{
					transform: rotate(-165deg);
				}
			}
			&_24{
				transform: translate(120px, 0) rotate(180deg);
				& .watch__number{
					transform: rotate(-180deg);
				}
			}
		}

		&__number{

		}

		&__schedule {
		}

		&__1-circle {
		}

		&__2-circle {
		}

		&__3-circle {
		}

		&__4-circle {
		}

		&__5-circle {
		}

		&__hand {
		}

		&__reminders {
		}
}
.calendar {
	width: 240px;
	height: 240px;
	background-color: wheat;
	margin: 30px auto;
}
.tasks {
	margin-top: 25px;
	&__announcement{
		color: #57648F;
	}
	&__now {
	}

	&__title {
	}

	&__morning {
	}

	&__day {
	}

	&__evening {
	}

	&__someday {
	}
}
.task {

		&__fire {
		}

		&__text {
		}

		&__menu {
		}

		&__edit {
		}

		&__done {
		}

		&__postpone {
		}

		&__delete {
		}
}
.activity {
	width: 110px;

	&__navigation {

		&_up {
		}

		&_down {
		}
	}

	&__now {
	}

	&__column {
	}

	&__done {
	}
}
.bubble {
	background-color: pink;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;

	&__arrow {
	}

	&__circle {
	}

	&__icon {
	}

	&__timer {
	}

	&__music {
	}

	&__pause {
	}

	&__volume {
	}

	&__repeat {
	}

	&__left {
	}

	&__right {
	}

	&__glare {
	}
}
